<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359816223136-t9leig056cggjuj6eib6frnib9n1n6vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359816223136-t9leig056cggjuj6eib6frnib9n1n6vj</string>
	<key>API_KEY</key>
	<string>AIzaSyCCvStgxk8-X0LNgaMFA03c8iztIlD6tZE</string>
	<key>GCM_SENDER_ID</key>
	<string>359816223136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brightlab.aplyft</string>
	<key>PROJECT_ID</key>
	<string>aplyft-7297a</string>
	<key>STORAGE_BUCKET</key>
	<string>aplyft-7297a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359816223136:ios:910c96f7cf1a6c64</string>
	<key>DATABASE_URL</key>
	<string>https://aplyft-7297a.firebaseio.com</string>
</dict>
</plist>